body{
    background-color: rgba(202, 237, 247, 0.993);
    font-family: sans-serif;
}

main{
    margin-top: 3%;
}

button:hover{
    font-size: 1.05rem;
}

.title{
    margin-left: -5%;
    color: rgb(119, 199, 79);
    text-align: center;
    width: 280px;
    height: 5px;
    cursor: pointer;
}

.login{
    background-color:rgb(119, 199, 79);
    width: 180px;
    height: 20px;
    margin: 1.6%;
    margin-left: 69%;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-radius: 7.5px;
    color: rgb(119, 199, 79);
    color: whitesmoke;
    border-color: rgb(119, 199, 79);
}
.sign{
    background-color:rgb(119, 199, 79);
    width: 250px;
    margin: 3%;
    margin-left: 33%;
    margin-right: 50%;
    padding: 4px;
    border-style: solid;
    border-radius: 7.5px;
    color: rgb(119, 199, 79);
    color: whitesmoke;
    border-color: rgb(119, 199, 79);
}

input[type="text"] {
    border-radius: 6px;
    border-style: solid;
    width: 50%;
    height: 20px;
    padding: 3px;
    padding-left: 8px;
}
input[type="password"] {
    border-radius: 6px;
    border-style: solid;
    width: 50%;
    height: 20px;
    padding: 3px;
    padding-left: 8px;
}
input[type="email"]{
    border-radius: 6px;
    border-style: solid;
    width: 50%;
    height: 20px;
    padding: 3px;
    padding-left: 8px;
}
.sign:hover{
    border-color: whitesmoke;
    cursor: pointer;
}
.login:hover{
    border-color: whitesmoke;
    cursor: pointer;
}
.header{
    width: 1443px;
    height: 80px;
    color: whitesmoke;
    border-style:solid;
    border-width: 1px;
    mask-border: 0.5;
    padding-left: 5%;
    background-color: white;
    display: flex;
    flex-direction: row;
}
.first{
    background-color: rgba(92, 89, 89, 0.6);
    margin-left: 25%;
    margin-right: 25%;
    border-style: solid;
    border-width: 1px;  
    border-radius: 12px;
    box-shadow: 0 6px 6px 7px rgba(77, 77, 77, 0.2), 0 4px 6px 0 rgba(115, 114, 114, 0.9);
    border-color: whitesmoke;
    padding-bottom: 20px;
}

.main{
    
    color: whitesmoke;
    text-align: center;
}
.reg{
    color: whitesmoke;
    margin: 5%;
    text-align: center;
}