#mn{
    position: absolute;
    margin: auto;
    size: 1000dp;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(202,237,247,0.993);
}
#det{
    /* background-color: rgba(202,237,247,0.993); */
    background-color: wheat;
    color: rgb(100, 173, 64);
    position: relative;
    height: 480px;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}

#signout{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border-color: red;
    border-style: solid;
}

#signout:hover{
    cursor: pointer;
    border-color: whitesmoke;
    border-style: solid;
}